<div class="container__big-card">

  <div clas="big-carg__photo">
    <img
    src="https://images.unsplash.com/photo-1703027816278-2573b76e62f9?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D"
    alt="imagem de uma cupula espacial"
    height="340px"
    width="395rem"
    srcset="">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Foi lançada a nova cupula espacial</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a a href="#">
      A nova cupula espacial foi testada no polo norte, sendo capaz de aquecer seu interior
      por mais de 72 horas com um consumo de energia, abaixo ao consumo de 1 dia de geladeira ligada.
      </a>
    </p>

  </div>
</div>
